@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,95&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #5a8f76;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video {
    position: fixed;
    inset: 0;
    z-index: -2;
    pointer-events: none;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    z-index: -1;
    pointer-events: none;
}

.photobooth-container {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #eee8b2;
    padding: 20px;
}

.ready-container {
    max-width: 450px;
    width: 100%;
}

.text {
    font-size: clamp(1.5rem, 3vw, 4rem);
    margin-bottom: 0.75rem;
    opacity: 0.85;
}

.text1 {
    font-size: clamp(0.85rem, 1.5vw, 2rem);
    margin-bottom: 1rem;
    opacity: 0.85;
}

.countdown-start {
    font-weight: 1000;
    font-size: clamp(1rem, 1.7vw, 2.5rem);
}

.text2 {
    font-size: clamp(0.6rem, 1vw, 1.5rem);
    margin-top: 0.2rem;
    opacity: 0.85;
}

.capture-countdown {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    font-size: clamp(200px, 30vw, 350px);
    color: #eee8b2;
    padding-top: 25px;
    pointer-events: none;
}

button {
    display: inline-block;
    color: #eee8b2;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.5rem, 2.75vw, 3rem);
    font-weight: 500;
    padding: 0.1rem 2.5rem;
    background-color: #081b1b;
    border: none;
    border-radius: 2rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

#flash-overlay {
    position: fixed;
    inset: 0;
    background: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 9999;
}

#flash-overlay.active {
    opacity: 1;
}

.session-active .photobooth-container,
.session-active .overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.session-active-retake .photobooth-container,
.session-active-retake .overlay {
  opacity: 0;
  pointer-events: none;
}