@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,95&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #5a8f76;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 20px 2rem 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    width: 100%;
}

.logo {
    position: relative;
    width: clamp(300px, 35vw, 400px);
}

.logo img {
    width: 100%;
    height: auto;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.85rem, 1.25vw, 1.5rem);
    color: #081b1b;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
}

button {
    color: #eee8b2;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.5rem, 2.75vw, 3rem);
    font-weight: 500;
    background-color: #081b1b;
    padding: 0.5rem 4rem;
    border: none;
    border-radius: 2rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}