@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,95&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #5a8f76;
}

.page {
    display: flex;
    width: 100%;
    height: 100%;
}

.left {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.photo-grid {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
}

.photo {
    max-width: 300px;
    width:100%;
    aspect-ratio: 3/2;
    background: #0000;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.right {
    flex: 1;
    background: #96CDB0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-container {
    width: 80%;
    max-width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.85rem, 2vw, 1.5rem);
    color: #081b1b;
    text-align: center;
}

.frame-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#final-preview {
    width: 100%;
    height: auto;
    display: block;
}

.countdown-start {
    font-family: 'Poppins', sans-serif;
    color: #081b1b;
    font-size: clamp(0.8rem, 1.2vw, 2rem);
    margin-top: 0.3px;
}

button {
    display: inline-block;
    color: #eee8b2;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.5rem, 2.75vw, 3rem);
    font-weight: 500;
    padding: 0.1rem 2.5rem;
    background-color: #081b1b;
    border: none;
    border-radius: 2rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

#next-button {
    text-align: center;
    font-size: 1.75rem;
    width: 20vw;
    height: 3rem;
    margin-bottom: 1rem;
    padding: 0;
}