@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,95&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #5a8f76;
}

.scan-container {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 20px 2rem 20px;
}

.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    width: 100%;
}

.text {
    font-size: clamp(1rem, 1.25vw, 2.5rem);
}

.text1, .session-id {
    font-size: clamp(0.85rem, 1.20vw, 2rem);
}

.text2 {
    font-size: clamp(1rem, 1.45vw, 2.25rem);
    font-weight: 500;
}

#qr-code {
    width: 360px;
    height: 360px;
    background: #e0e0e0;
    border-radius: 28px;
    padding: 18px;
    margin: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

#qr-code canvas {
    image-rendering: pixelated;
    border-radius: 20px;
}

.bottom-bar {
    position: absolute;
    bottom: 30px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.countdown-start {
    font-family: 'Poppins', sans-serif;
    color: #081b1b;
    font-size: clamp(0.8rem, 1.2vw, 2rem);
}

button {
    color: #eee8b2;
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1rem, 1.5vw, 3rem);
    font-weight: 500;
    background-color: #081b1b;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}