@media print {
  body * {
    visibility: hidden;
  }

  .print-layout, .print-layout * {
    visibility: visible;
  }

  .print-layout {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 210mm;
    height: auto;
  }
}
